<!DOCTYPE html>
<html lang="en">
  <meta>
    <meta charset="UTF-8">
    <title>Hello World in Vue.js</title>
  </meta>
  <head>  	
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  </head>

  <body>
	
		
  <div id="pagination-sample-app">
    <h1>{{ msg }}</h1>
    <template>
      <div>
        <h6>Default</h6>
        <b-pagination size="md" :total-rows="100" v-model="currentPage" :per-page="10">
        </b-pagination>
        <br>

        <h6>Small</h6>
        <b-pagination size="sm" :total-rows="100" v-model="currentPage" :per-page="10">
        </b-pagination>
        <br>

        <h6>Large</h6>
        <b-pagination size="lg" :total-rows="100" v-model="currentPage" :per-page="10">
        </b-pagination>
        <br>

        <div>currentPage: {{currentPage}}</div>
      </div>    
    </template>
  </div>    
    

  <script>
      new Vue({
        el: "#pagination-sample-app",
        data() {
          return {
            msg: "Pagination sample !",
            currentPage: 3
          }
        }
      });
  </script>
  </body>
</html>