<meta charset="UTF-8">
<script src="https://unpkg.com/vue@3"></script>

<div id="app">
  <input type="text" v-model="firstName" placeholder="First name" />
  <br>
  <input type="text" v-model="lastName" placeholder="Last name" />
  <br>
  Full name : {{ fullname }}
</div>

<script type="text/javascript">
  Vue.createApp({
    data: function(){
      return {
        firstName: "",
        lastName: ""
      }
    },
    computed: {
      fullname: function () {
        return this.firstName + " " + this.lastName;
      }
    }
  }).mount('#app');
</script>